* {
  box-sizing: border-box;
  
}

.container {
  width: 75%;
  margin: 20px auto;
  border: 1px solid grey;
  box-shadow: 10px 10px 5px #154050;
}

header {
  padding: 20px;
}

a {
  text-decoration: none;
  color:#154050;
}

h1, h2, h3, h4, h5, h6 { 
 font-family: "Open sans", Helvetica, Arial;
 font-weight: 300;
 margin-left: 40%;
}

label {
  width: 150px;
  display: block;
  float: left;
}


header h1 {
  margin: 0;
}

nav {
  height: 200px;
  background-image: url('/todolist.jpg');
  background-position: center center;
  background-size: cover;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #154050;
  color: white;
}

.header {
  background-color: #154050;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

#myInput {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}

button {
  cursor: pointer;
  position: relative;
  background: rgb(190, 189, 189);
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

nav ul {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  display: inline-block;
  padding: 5px 10px;
}

.content {
  padding: 20px;
}

footer {
  border-top: 1px solid grey;
  padding: 20px;
  text-align: center;
}